<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You are reminded to <%= @task.text %> 
    </p>
	<p>
	  At <%= @task.title %>
	</p>
  </body>
</html>